.course {
  padding: 50px 0 30px 0;
  background: url('../../asset/img/degree.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.course h1 {
  font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 63px;
    color: #363636;
    text-align: center;
}

.course .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.course button {
  background: #C7C7A6;
  border-radius: 20px;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-bottom: 2rem;
}

.course .button button:hover {
  background: #007A29;
}

.course .card {
  border: none;
  padding: 246px 20px 20px 20px;
}
.course .card1 {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(0, 0, 0, 0.53) 100%), url('../../asset/img/dimg4.png');
  background-size: cover;
    background-repeat: no-repeat;
  /* border: none; */
}
.course .card2 {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(0, 0, 0, 0.53) 100%), url('../../asset/img/dimg5.png');
  background-size: cover;
    background-repeat: no-repeat;
  /* border: none; */
}

.course .card3 {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(0, 0, 0, 0.53) 100%), url('../../asset/img/dimg6.png');
  background-size: cover;
    background-repeat: no-repeat;
  /* border: none; */
}

.course .h1 {
  font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  
    color: #FFFFFF;
}

.course .p {
  font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #FFFFFF;
}

.course .col2 {
  margin: 3rem auto 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.course .col2 .but2 {
  background: #007A29;
}

.course .but {
  padding: 8px 48px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px;
}